

body{
  background-color:#385b7b;
  font-family: 'Lexend', sans-serif;
  
  
}

/* navbar */

.navbar-container{
  display: flex;
  align-items: center;
  position: sticky;
  
}

.navbar-button{
  margin-left:10em;
  

}

.navbar-button > .item{
  color:white;
  text-decoration: none;
  position: sticky;
}

.navbar-button > .item:hover{
  color:#ffbd59;

}

/* landing page */

.name{
  position: relative;
  left:5%;
  bottom: 45vh;
  font-size: 75px;
  color:whitesmoke;
  letter-spacing: 10px;
}



.job-title{
  position: relative;
  left:20%;
  bottom:50vh;
  font-size: 30px;
  color:whitesmoke;
  letter-spacing: 20px;
}

.landing-text > .headshot{
  clip-path: circle(50% at 50% 50%);
  position: relative;
  top:10vh;
  left: 70%;

}

.button{
  position:relative;
  left:40%;
  bottom:40vh;
  background-color: #ffbd59;
  border:none;
  color:whitesmoke;
  font-size: 30px;
  padding-left: 30px;
  padding-right: 30px;
  text-align: center;
  
}

.button:hover{
  background-color: #6f9dc7;
  
}

/* about */

.about-title{
  color:white;
  text-align: center;
  letter-spacing: 20px;
  font-size: 45px;
  margin-top:10vmax;
  
}

.about-body{
  color:white;
  text-align: center;
  letter-spacing: 2px;
  padding-left:20px;
  padding-right:20px;
}

.button2{
  background-color: #ffbd59;
  border:none;
  color:whitesmoke;
  margin-top:5%;
  margin-bottom:5%;
  font-size: 25px;
  
}



