.App {
  text-align: center;

}

body{
  background-color:#385b7b;
}


.navbar-container{
  display: flex;
  align-items: center;
}

.navbar-button{
  margin-left:10em;

}

.navbar-button > .item{
  color:white;
  text-decoration: none;
}

.navbar-button > .item:hover{
  color:#ffbd59;

}





